@model EPlast.ViewModels.AnnualReport.CreateEditAnnualReportViewModel
@using EPlast.Models.Enums
@{
    ViewData["Title"] = "Річний звіт станиці";
}

<div class="annual-report-form m-5 shadow-lg">
    <form asp-controller="AnnualReport" method="post">
        <input asp-for="AnnualReport.CityId" type="hidden" />
        @if (Model?.Operation == AnnualReportOperation.Editing)
        {
            <input asp-for="AnnualReport.ID" type="hidden" />
            <input asp-for="AnnualReport.UserId" type="hidden" />
            <input asp-for="AnnualReport.Status" type="hidden" />
            <input asp-for="AnnualReport.Date" type="hidden" />
            <input asp-for="AnnualReport.CityManagement.ID" type="hidden" />
            <input asp-for="AnnualReport.CityManagement.AnnualReportId" type="hidden" />
            <input asp-for="AnnualReport.MembersStatistic.Id" type="hidden" />
            <input asp-for="AnnualReport.MembersStatistic.AnnualReportId" type="hidden" />
        }
        <h1 class="text-center">Річний звіт станиці @Model?.CityName</h1>
        <div class="row">
            <div class="col-md">
                <div class="form-group p-3 m-2 border shadow-sm">
                    <h4>Голова новообраної Старшини</h4>
                    <select asp-for="AnnualReport.CityManagement.UserId" asp-items="Model?.CityMembers" class="form-control" data-live-search="true"></select>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group p-3 m-2 border shadow-sm">
                    <h4>Правовий статус осередку</h4>
                    <select asp-for="AnnualReport.CityManagement.CityLegalStatusNew" asp-items="Model?.CityLegalStatusTypes" class="form-control"></select>
                    <span asp-validation-for="AnnualReport.CityManagement.CityLegalStatusNew" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group p-3 m-2 border shadow-sm">
                    <h3>УПП</h3>
                    <div class="row">
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.NumberOfSeatsPtashat">Кількість гніздечок пташат</label>
                            <input asp-for="AnnualReport.NumberOfSeatsPtashat" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.NumberOfSeatsPtashat" />
                        </div>
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.MembersStatistic.NumberOfPtashata">Кількість пташат</label>
                            <input asp-for="AnnualReport.MembersStatistic.NumberOfPtashata" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfPtashata" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group p-3 m-2 border shadow-sm">
                    <h3>УПН</h3>
                    <div class="row">
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.NumberOfIndependentRiy">Кількість самостійних роїв</label>
                            <input asp-for="AnnualReport.NumberOfIndependentRiy" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.NumberOfIndependentRiy" />
                        </div>
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.MembersStatistic.NumberOfNovatstva">Кількість новацтва</label>
                            <input asp-for="AnnualReport.MembersStatistic.NumberOfNovatstva" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfNovatstva" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group p-3 m-2 border shadow-sm">
            <h3>УПЮ</h3>
            <div class="row">
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfClubs">Кількість куренів у станиці/паланці (окрузі/регіоні)</label>
                    <input asp-for="AnnualReport.NumberOfClubs" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfClubs" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfIndependentGroups">Кількість самостійних гуртків</label>
                    <input asp-for="AnnualReport.NumberOfIndependentGroups" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfIndependentGroups" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaNoname">Кількість неіменованих разом</label>
                    <input asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaNoname" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfUnatstvaNoname" />
                </div>
            </div>
            <div class="row">
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaSupporters">Кількість прихильників/ць</label>
                    <input asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaSupporters" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfUnatstvaSupporters" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaMembers">Кількість учасників/ць</label>
                    <input asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaMembers" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfUnatstvaMembers" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaProspectors">Кількість розвідувачів</label>
                    <input asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaProspectors" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfUnatstvaProspectors" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaSkobVirlyts">Кількість скобів/вірлиць</label>
                    <input asp-for="AnnualReport.MembersStatistic.NumberOfUnatstvaSkobVirlyts" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfUnatstvaSkobVirlyts" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="form-group p-3 m-2 border shadow-sm">
                    <h3>УСП</h3>
                    <div class="row">
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.MembersStatistic.NumberOfSeniorPlastynSupporters">Кількість старших пластунів прихильників</label>
                            <input asp-for="AnnualReport.MembersStatistic.NumberOfSeniorPlastynSupporters" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfSeniorPlastynSupporters" />
                        </div>
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.MembersStatistic.NumberOfSeniorPlastynMembers">Кількість старших пластунів</label>
                            <input asp-for="AnnualReport.MembersStatistic.NumberOfSeniorPlastynMembers" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfSeniorPlastynMembers" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-group p-3 m-2 border shadow-sm">
                    <h3>УПС</h3>
                    <div class="row">
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.MembersStatistic.NumberOfSeigneurSupporters">Кількість сеньйорів пластунів прихильників</label>
                            <input asp-for="AnnualReport.MembersStatistic.NumberOfSeigneurSupporters" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfSeigneurSupporters" />
                        </div>
                        <div class="col-md align-self-end">
                            <label asp-for="AnnualReport.MembersStatistic.NumberOfSeigneurMembers">Кількість сеньйорів пластунів</label>
                            <input asp-for="AnnualReport.MembersStatistic.NumberOfSeigneurMembers" class="form-control" type="number" min="0" required />
                            <span asp-validation-for="AnnualReport.MembersStatistic.NumberOfSeigneurMembers" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group p-3 m-2 border shadow-sm">
            <h3>Адміністрування та виховництво</h3>
            <div class="row">
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfTeachers">Кількість діючих виховників (з усіх членів УСП, УПС)</label>
                    <input asp-for="AnnualReport.NumberOfTeachers" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfTeachers" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfAdministrators">Кількість адміністраторів (в проводах будь якого рівня)</label>
                    <input asp-for="AnnualReport.NumberOfAdministrators" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfAdministrators" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfTeacherAdministrators">Кількість тих, хто поєднує виховництво та адміністрування</label>
                    <input asp-for="AnnualReport.NumberOfTeacherAdministrators" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfTeacherAdministrators" />
                </div>
            </div>
        </div>
        <div class="form-group p-3 m-2 border shadow-sm">
            <h3>Пластприят</h3>
            <div class="row">
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfBeneficiaries">Кількість пільговиків</label>
                    <input asp-for="AnnualReport.NumberOfBeneficiaries" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfBeneficiaries" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfPlastpryiatMembers">Кількість членів Пластприяту</label>
                    <input asp-for="AnnualReport.NumberOfPlastpryiatMembers" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfPlastpryiatMembers" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.NumberOfHonoraryMembers">Кількість почесних членів</label>
                    <input asp-for="AnnualReport.NumberOfHonoraryMembers" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.NumberOfHonoraryMembers" />
                </div>
            </div>
        </div>
        <div class="form-group p-3 m-2 border shadow-sm">
            <h3>Залучені кошти</h3>
            <div class="row">
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.PublicFunds">Державні кошти</label>
                    <input asp-for="AnnualReport.PublicFunds" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.PublicFunds" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.ContributionFunds">Внески</label>
                    <input asp-for="AnnualReport.ContributionFunds" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.ContributionFunds" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.PlastSalary">Пластовий заробіток</label>
                    <input asp-for="AnnualReport.PlastSalary" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.PlastSalary" />
                </div>
                <div class="col-md align-self-end">
                    <label asp-for="AnnualReport.SponsorshipFunds">Спонсорські кошти</label>
                    <input asp-for="AnnualReport.SponsorshipFunds" class="form-control" type="number" min="0" required />
                    <span asp-validation-for="AnnualReport.SponsorshipFunds" />
                </div>
            </div>
        </div>
        <div class="form-group p-3 m-2 border shadow-sm">
            <h3>Майно та потреби станиці</h3>
            <div class="row">
                <div class="col-md align-self-end">
                    <label>Вкажіть, що вам допоможе ефективніше залучати волонтерів та створювати виховні частини (гнізда, курені)</label>
                    <textarea asp-for="AnnualReport.ImprovementNeeds" class="form-control textarea-fixed"></textarea>
                </div>
                <div class="col-md align-self-end">
                    <label>Вкажіть перелік майна, що є в станиці</label>
                    <textarea asp-for="AnnualReport.ListProperty" class="form-control textarea-fixed"></textarea>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center p-3">
            @switch (Model?.Operation)
            {
                case AnnualReportOperation.Creating:
                    <button id="CreateAnnualReport" asp-action="CreateAsync" class="btn btn-block text-light btn-lg" type="submit">Створити</button>
                    break;
                case AnnualReportOperation.Editing:
                    <button asp-action="EditAsync" class="btn btn-block text-light btn-lg" type="submit">Редагувати</button>
                    break;
            }
        </div>
        <partial name="_SuccessModal" model="@ViewData["Message"]" />
        <partial name="_ErrorModal" model="@ViewData["ErrorMessage"]" />
        <partial name="_YesNoModal" />
    </form>
</div>