@using Microsoft.AspNetCore.Identity
@inject SignInManager<EPlast.DataAccess.Entities.User> SignInManager
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
    {
        <div class="d-flex">
            <div style="margin-top:3px;margin-left:5px">
                <a class="d-none d-sm-block navbar-link navbar-nav nav-link text-light" asp-action="UserProfile" asp-controller="Account" asp-route-userId="@UserManager.GetUserId(User)">Привіт @UserManager.GetUserAsync(User).Result.FirstName</a>
            </div>
            <div class="align-self-center">
                <button type="submit" class="btn navbar-btn navbar-link text-light">Вийти</button>
            </div>
        </div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" style="margin-top:15px;" class="text-light" asp-controller="Account" asp-action="Login">Увійти</a></li>
    </ul>
}