@model string 

<div class="modal modal-success" id="ModalSuccess">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Повідомлення</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <i class="fas fa-check-circle fa-4x mb-3"></i>
                <p class="p-modal-success"><strong>@Model</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block text-light" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>