<div class="modal modal-yesno" id="YesNoModal">
    <div class="modal-dialog d-flex justify-content-center">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <p class="p-modal-success"><strong></strong></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <button id="Yes" type="button" class="btn btn-block text-light" data-dismiss="modal">Так</button>
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button type="button" class="btn btn-block text-light" data-dismiss="modal">Ні</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>