<div class="Create-decision-form">
    <h2 class="text-center">Ви справді хочете видалити рішення?<br></h2>
    <input data-val="true" data-val-required="The ID field is required." id="Delete-Decision-ID" type="hidden" value="">
    <form id="DeleteDecisionForm">
        <div class="form-group delete-buttons">
            <button class="btn btn-primary text-light" id="DeleteDecisionForm-submit" type="submit">Так</button>
            <button class="btn btn-primary close text-light">Ні</button>
        </div>
    </form>
</div>