<div class="Create-decesion-form">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-right: 50px;margin-top: 14px;font-size: 28px;">
        <span aria-hidden="true">×</span>
    </button>
    <form id="EditDecesionForm">
        <input data-val="true" data-val-required="The ID field is required." id="Edit-Decesion-ID" type="hidden" value="">
        <h2 class="text-center">Редагування рішення пластового проводу<br></h2>
        <div class="form-group">
            <label>
                <strong>Назва рішення</strong>
                <br>
            </label>
            <input class="form-control" type="text" name="name" id="Edit-Decesion-Name" placeholder="Назва рішення" value="" />
            <span class="field-validation-valid" style="color:#db0b3c;" />
        </div>

        <div class="form-group">
            <label>
                <strong>Текст рішення</strong>
                <br>
            </label>
            <textarea class="form-control" id="Edit-Decesion-Description" placeholder="Опис" rows="14"></textarea>
            <span class="field-validation-valid" style="color:#db0b3c;" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="EditDecesionForm-submit" type="submit">Змінити</button>
        </div>
    </form>
</div>