<div class="modal-content">
    <div class="modal-header">
        <h4>Ви впевнені?</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <form asp-action="Delete" asp-controller="Admin" method="post">
        <input type="hidden" name="userId" value="@ViewBag.userId" />

        <div class="modal-footer">
            <button type="submit" class="btn" style="background-color:#3c5438; color:white;">Так</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Ні</button>
        </div>
    </form>
</div>


