@using EPlast.ViewModels.City
@model EPlast.ViewModels.RegionsAdminsViewModel

<div class="container regionsAdmins">
    <div class="data-table-wrapper shadow">
        <div>
            <h3 class="text-center">Осередки та адміністрація</h3>
        </div>
        <form class="form-inline m-5 d-flex justify-content-center md-form form">
            <i class="fas fa-search" aria-hidden="true"></i>
            @Html.TextBoxFor(x => x.CityName, new { @type = "text", @placeholder = "Виберіть станицю...", @list = "CityType-value", @id = "regionsAndAdmins", @class = "form-control form-control ml-3 w-75", @Value = "" })
            <datalist id="CityType-value">
                @foreach (CityViewModel item in Model.Cities)
                {
                    <option data-value="@item.ID" value="@item.Name"></option>
                }
            </datalist>
        </form>
        <div id="getAdmins"></div>
</div>
</div>
