
@{
    ViewData["Title"] = "AboutPLAST";
}
    <div class="container">
        <h2 class="text-uppercase text-center" style="font-size: 48;">Про ПЛАСТ</h2>

        <p>
            Пласт – українська скаутська організація. Метою Пласту є сприяти всебічному, патріотичному вихованню та самовихованню української молоді
            на засадах християнської моралі. Будучи неполітичною і позаконфесійною організацією, Пласт виховує молодь на свідомих, відповідальних і
            повновартісних громадян місцевої, національної та світової спільноти, провідників суспільства.
        </p>

        <p>
            Пласт був створений у 1911 році, невдовзі після заснування скаутського руху Робертом Бейден-Пауелом в 1907 р., а вже 12 квітня 1912 року у
            Львові пластуни склали першу Пластову присягу. Серед засновників організації були д-р. Олександр Тисовський, Петро Франко (син Івана Франка)
            та Іван Чмола. В основі назви “Пласт” лежить відповідник англійського Scout (розвідник), взятий за прикладом пластунів – козаків-розвідників.
        </p>
        <img src="https://www.plast.org.ua/wp-content/uploads/2016/12/lelia.gif" alt="gerb" />
        <p>Гербом Пласту є трилиста квітка лілії – символ скаутського руху (відомий як Fleur-de-lis) – та тризуб, сплетені в одну гармонійну цілісність.</p>

        <p>
            Для досягнення виховних цілей Пласт застосовує власну унікальну методу виховання, основні принципи якої полягають у добровільності членства в організації,
            вихованні і навчанні через гру та працю, поступовій програмі занять і випробувань, гуртковій системі самоорганізації, заохоченні ініціативи і самоврядування,
            пізнанні природи і житті серед природи, підтримці спеціальних зацікавлень і здібностей дітей та молоді.
        </p>

        <p>
            На відміну від більшості скаутських організацій світу, де членство завершується із досягненням 25-ліття, членство в Пласті є пожиттєвим. Умовний віковий
            поділ передбачає 4 вікові категорії: новаки (6-12 років), юнаки (12-18 років), старші пластуни (18-35 років) та пластуні-сеніори (від 35 років). Виховна та
            адміністративна праця в Пласті здійснюється старшими пластунами та пластунами-сеніорами виключно на волонтерських засадах.
        </p>

        <p>
            Пласт в Україні об’єднує майже вісім тисяч членів різного віку і таким чином є найбільшою молодіжною організацією України. Сьогодні 118 осередків
            Пласту діють у всіх областях України. Пласт активно співпрацює з органами державної влади та громадськими організаціями, реалізуючи різноманітні соціальні
            та виховні програми.
        </p>

        <p>
            Протягом року Пласт в Україні проводить понад 100 виховних таборів різної спеціалізації: спортивні, морські, з повітроплавання, мистецькі, лижні,
            альпіністичні, археологічні, кінні, екологічні тощо. У таборах пластуни практично закріплюють знання і уміння, здобуті впродовж року на щотижневих заняттях.
            Серед найбільших заходів, котрі щороку проводяться Пластом на всеукраїнському рівні – інтелектуально-мистецький змаг Орликіада, фестиваль творчості День пластуна,
            спортивний змаг Спартакіада, передача Вифлеємського вогню місцевим громадам, змагання з пішого мандрівництва “Стежками героїв” та “Осінній рейд”. На місцевому рівні
            осередками Пласту постійно реалізується безліч акцій соціально-культурного та виховного спрямування.
        </p>

        <p>
            Окрім України, Пласт офіційно існує у восьми країнах світу: Австралії, Аргентині, Великобританії, Канаді, Німеччині, Польщі, Словаччині та США. Пластові
            організації із усіх дев’яти країн об’єднані в Конференцію українських пластових організацій, на чолі світового пластового руху стоїть Начальний пластун.
        </p>
    </div>