
@{
    ViewData["Title"] = "FAQ";
}

    <section id="faq" style="padding: 2px;margin: 11px;">
        <h2 class="text-uppercase text-center" style="font-size: 48;">Часті запитання</h2>
        <br>
        <div class="container">
            <div class="faqelement">
                <button class="btn btn-primary faq on" type="button" style="box-shadow: none; background-color:#3c5438;">Що таке ПЛАСТ&nbsp;</button>
                <div class="panel">
                    <p>
                        Пласт – українська скаутська організація. Метою Пласту є сприяти всебічному, патріотичному вихованню та самовихованню української молоді
                        на засадах християнської моралі. Будучи неполітичною і позаконфесійною організацією, Пласт виховує молодь на свідомих, відповідальних і
                        повновартісних громадян місцевої, національної та світової спільноти, провідників суспільства.
                    </p>
                </div>
            </div>
            <br>
            <div class="faqelement">
                <button class="btn btn-primary faq on" type="button" style="box-shadow: none; background-color:#3c5438;">Коли і ким була створена ваша організація?&nbsp;</button>
                <div class="panel">
                    <p>
                        Пласт був створений у 1911 році, невдовзі після заснування скаутського руху Робертом Бейден-Пауелом в 1907 р., а вже 12 квітня 1912 року у
                        Львові пластуни склали першу Пластову присягу. Серед засновників організації були д-р. Олександр Тисовський, Петро Франко (син Івана Франка)
                        та Іван Чмола. В основі назви “Пласт” лежить відповідник англійського Scout (розвідник), взятий за прикладом пластунів – козаків-розвідників.
                    </p>
                </div>
            </div>
            <br />
            <div class="faqelement">
                <button class="btn btn-primary faq on" type="button" style="box-shadow: none; background-color:#3c5438;">Який у вас герб?&nbsp;</button>
                <div class="panel">
                    <p>
                        Гербом Пласту є трилиста квітка лілії – символ скаутського руху (відомий як Fleur-de-lis) – та тризуб, сплетені в одну гармонійну цілісність.
                    </p>
                </div>
            </div>
            <br>
            <div class="faqelement">
                <button class="btn btn-primary faq on" type="button" style="box-shadow: none; background-color:#3c5438;">Чи є у вас вікові обмеження?&nbsp;</button>
                <div class="panel">
                    <p>
                        На відміну від більшості скаутських організацій світу, де членство завершується із досягненням 25-ліття, членство в Пласті є пожиттєвим. Умовний віковий
                        поділ передбачає 4 вікові категорії: новаки (6-12 років), юнаки (12-18 років), старші пластуни (18-35 років) та пластуні-сеніори (від 35 років). Виховна та
                        адміністративна праця в Пласті здійснюється старшими пластунами та пластунами-сеніорами виключно на волонтерських засадах.
                    </p>
                </div>
            </div>
            <br>
            <div class="faqelement">
                <button class="btn btn-primary faq on" type="button" style="box-shadow: none; background-color:#3c5438;">У вас є представництва лише в Україні?&nbsp;</button>
                <div class="panel">
                    <p>
                        Окрім України, Пласт офіційно існує у восьми країнах світу: Австралії, Аргентині, Великобританії, Канаді, Німеччині, Польщі, Словаччині та США. Пластові
                        організації із усіх дев’яти країн об’єднані в Конференцію українських пластових організацій, на чолі світового пластового руху стоїть Начальний пластун.
                    </p>
                </div>
            </div>
            <br>
        </div>
       
    </section>