@{
    ViewData["Title"] = "Home Page";
}
<div style="height:100vh; min-width:200px; width:100%; background-image: url('../../images/homepage/homeMenuPicture.png'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
@*<img class="homepage-img" src="~/images/homepage/homeMenuPicture.png" style="width:100%; padding:0; margin:0;">*@
