.admin-edit {
    .context-menu-icon.context-menu-icon--fa5 i, .context-menu-icon.context-menu-icon--fa5 svg {
        position: absolute;
        top: .4em;
        left: .5em;
        color: #3c5438;
    }

    i.fas.fa-trash-alt.delete {
        color: red;
    }

    .context-menu-icon.context-menu-hover {
        color: #000000;
        cursor: pointer;
        background-color: #CDCDCD;
    }

    .modal-content {
        border-radius: 15px;
    }
}

ul.context-menu-list.admin-edit.context-menu-root {
    padding: 0;
}

.checkboxEPlast {
    .custom-control-input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #009c24;
        background-color: #009c24;
    }
}

.regionsAdmins {
    .card {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-box;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #fff;
        border-radius: .25rem;
    }

    .card-img, .card-img-bottom, .card-img-top {
        flex-shrink: 0;
        width: 120px;
    }

    .card:hover {
        visibility: visible;
        opacity: 10;
        transition: opacity 1s ease;
        background-color: #c1c1c136;
    }

    .form-group {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    .shadow {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.data-table-wrapper {
    #dtUsersTable_wrapper {
        table.dataTable thead {
            .sorting, .sorting_desc, .sorting_asc, .sorting_asc_disabled, .sorting_desc_disabled {
                &:after, &:before {
                    right: 14px !important;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .data-table-wrapper {
        font-size: 18px;
        text-align: center;
        font-size: 9px;

        #dtUsersTable_wrapper {
            table.dataTable thead {
                .sorting, .sorting_desc, .sorting_asc, .sorting_asc_disabled, .sorting_desc_disabled {
                    &:after, &:before {
                        bottom: 9px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}