.annual-report-form {
    form {
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #3C5438;
        border-radius: 15px;
        color: #505e6c;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 15px;
    }

    .btn {
        width: 15%;
        min-width: 150px;
        background-color: #3c5438;
    }

    textarea {
        min-height: 150px;
        padding-top: 10px;
        resize: none;
    }

    .form-control:focus {
        border-color: #3C5438;
    }

    @media (max-width: 767px) {
        textarea {
            min-height: 75px;
        }
    }

    @media (max-width: 575px) {
        .btn {
            width: 15%;
            min-width: 100px;
        }
    }
}

.annualReports-wrapper {
    background-color: #ffffff;
    border: 1px solid #3C5438;
    border-radius: 15px;
    color: #505e6c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px;

    .btn-wrapper {
        .btn {
            background-color: #3c5438;
            width: 150px;
            margin: 20px 0;
        }
    }

    #CitiesList {
        width: 80%;
    }

    #CitiesList:focus {
        border-color: #3C5438;
    }

    #CreateAnnualReportLikeAdmin {
        background-color: #3c5438;
        width: 30%;
    }

    #AnnualReportsTable_wrapper {
        table {
            td {
                cursor: default;
                white-space: nowrap;
            }
        }

        #AnnualReportsTable_filter {
            label {
                button[data-toggle="modal"] {
                    margin: 0 0 3px 2rem;
                    border-color: #3c5438 !important;
                }

                button[data-toggle="modal"]:focus {
                    box-shadow: 0 0 0 0.2rem #3c5438 !important;
                }

                button[data-toggle="modal"]:active {
                    border-color: #3c5438 !important;
                }
            }
        }

        .page-item.active .page-link {
            color: #000;
            background-color: #ffffff;
            border-color: none;
            box-shadow: 0 0 0 0.2rem #3c5438;
        }

        .paginate_button.page-item {
            .page-link {
                background: #3c5438 !important;
                color: #ffffff !important;
            }

            .page-link &:hover, &:active, &:focus {
                background: #344a30 !important;
                color: #fff !important;
                border-color: #fff;
            }
        }

        .page-item.disabled .page-link {
            background: #2e402b !important;
        }

        .page-item.active .page-link {
            border-color: #3c5438;
        }

        table.dataTable thead {
            .sorting, .sorting_desc, .sorting_asc, .sorting_asc_disabled, .sorting_desc_disabled {
                &:after, &:before {
                    right: 14px !important;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .btn-wrapper {
            .btn {
                width: 100%;
            }
        }
    }
}

.btn-management {
    background-color: #3c5438 !important;
    min-width: 125px;
    margin: 10px 20px;
}

.row-selected {
    background-color: #eaf0ce;
}

.nav-tabs {
    a {
        color: #3c5438 !important;
    }
}

.annual-report-info {
    p {
        font-size: 14px;
    }
}