#divCityContainer {
}

#formCityContainer {
    background-color: transparent;
}

.btn.submitCity {
    background-color: #3c5438;
    color: white;
}

#divEditCity {
}

#divFormEditCity {
    margin-bottom: 0;
}

#divTableEditCity {
    margin-top: 20px;
}

@media (max-width: 360px) {
    #divTableEditCity {
        width: 95vw;
    }
}

#linkUser {
    color: black;
}

.cityProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;

    .container {
        padding: 15px;

        .row.d-inline.d-xl-flex.mx-auto {
            width: 100%;
            padding-bottom: 15px;

            .col-md-12.col-xl-8 {
                padding: 15px;
                padding-bottom: 0px;
                padding-top: 15px;

                .border.rounded.d-flex.justify-content-center {
                    width: 100%;
                    height: 100%;
                    background-color: #ffffff;
                    min-height: 374px;

                    .d-sm-inline-block.d-xl-inline-block {
                        width: 50%;
                        min-width: 250px;

                        .d-flex {
                            .text-center.d-table.d-xl-flex.align-items-center.justify-content-sm-center.align-items-sm-center.justify-content-xl-center.align-items-xl-center {
                                height: 45px;
                                width: 100%;
                                margin: 0px;
                                font-size: 24px;
                            }

                            .text-center.d-flex d-sm-flex.align-items-center.align-items-sm-center.justify-content-xl-center {
                                margin: 0px;
                                max-width: 30px;
                                height: 45px;
                            }
                        }

                        .d-flex.d-lg-inline-flex.justify-content-center.align-items-center.justify-content-md-center.align-items-md-center {
                            height: 75%;
                            width: 100%;

                            .d-none.d-lg-block.mx-auto {
                                padding: 10px;
                                width: 60%;
                            }
                        }

                        a.city-detail-btn {
                            background-color: #3c5438;
                            color: white;
                            height: 40px;
                            width: 60%;
                        }

                        a:hover.city-detail-btn {
                            background-color: #73bd79;
                            border-color: #73bd79;
                            color: black;
                            text-decoration: none;
                        }
                    }
                }

                .d-none.d-sm-flex.d-xl-flex.justify-content-center.align-items-center.justify-content-sm-center.align-items-sm-center.justify-content-xl-center.align-items-xl-center {
                    width: 50%;

                    .d-sm-flex.d-xl-flex.my-auto.justify-content-xl-center.align-items-xl-center {
                        width: 90%;
                        height: 90%;
                    }
                }
            }
        }

        .col-md-12.col-xl-4 {
            padding: 15px;
            padding-bottom: 0px;

            .border.rounded {
                width: 100%;
                background-color: #ffffff;
                height: 100%;
                min-height: 375px;

                .text-center.d-xl-flex.justify-content-xl-center.align-items-xl-center {
                    height: 45px;
                    width: 100%;
                    margin: 0px;
                    font-size: 24px;
                }

                a.city-detail-btn {
                    background-color: #3c5438;
                    color: white;
                    height: 40px;
                    width: 60%;
                }

                a:hover.city-detail-btn {
                    background-color: #73bd79;
                    border-color: #73bd79;
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

.cityUserWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    background-color: transparent;

    .d-flex.flex-shrink-0.justify-content-center.flex-wrap {
        .card.border.rounded.shadow-none.d-inline.float-left {
            margin: 15px;
            width: 150px;
            height: 300px;

            .border-primary.d-flex.d-xl-flex.justify-content-center.align-items-center.justify-content-xl-center.align-items-xl-center {
                height: 50px;
                margin: -1px;
                background-color: rgb(60,84,56);

                .text-center {
                    color: rgb(255,255,255);
                    font-size: 18px;
                    margin-bottom: 0px;
                    letter-spacing: 0px;
                    line-height: 18px;
                    padding: 2px;
                }
            }

            .float-left.d-xl-flex.justify-content-xl-center.align-items-xl-center {
                height: 30px;
                margin: -1px;
                margin-top: 3px;

                .d-xl-flex.justify-content-xl-end {
                    padding-right: 95px;
                    padding-left: 5px;
                    color: #3c5438;
                }

                .float-none.d-xl-flex {
                    padding-right: 5px;
                    padding-left: 5px;
                    color: #3c5438;
                }
            }

            .border.rounded-circle {
                height: 150px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin: 5px;
                margin-top: 20px;
                margin-bottom: 15px;
            }

            .d-inline {
                .text-center.d-xl-flex.justify-content-xl-center {
                    margin: 0px;
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
    }
}

.cityMembesWrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
    background-color: transparent;

    .d-flex.flex-shrink-0.justify-content-center.flex-wrap {
        .card.border.rounded.shadow-none.d-inline.float-left {
            margin: 15px;
            width: 150px;
            height: 250px;

            .float-left.d-xl-flex.justify-content-xl-center.align-items-xl-center {
                height: 30px;
                margin: -1px;
                margin-top: 3px;

                .d-xl-flex.justify-content-xl-end {
                    padding-right: 95px;
                    padding-left: 5px;
                    color: #3c5438;
                }

                .float-none.d-xl-flex {
                    padding-right: 5px;
                    padding-left: 5px;
                    color: #3c5438;
                }
            }

            .border.rounded-circle {
                height: 150px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                margin: 5px;
                margin-top: 20px;
                margin-bottom: 15px;
            }

            .d-inline {
                .text-center.d-xl-flex.justify-content-xl-center {
                    margin: 0px;
                    width: 100%;
                    font-size: 18px;
                }
            }
        }
    }

    a.city-detail-btn {
        background-color: #3c5438;
        color: white;
        height: 40px;
        width: 200px;
    }

    a:hover.city-detail-btn {
        background-color: #73bd79;
        border-color: #73bd79;
        color: black;
        text-decoration: none;
    }
}
