.data-table-wrapper-club {
    margin: 20px 0;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    text-align: center;
}
.become-club-follower-link {
    color: #3c5438;
    font-weight: bolder;
    padding-left: 15px;
    text-decoration: inherit;
}
.content-wrapper {
    .club-wrappers-radius {
        border-radius: 15px;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    }

    .colors-for-club-buttons {
        color: #fff;
        background-color: #3C5438;
        border-color: #3C5438;
        margin: 0 auto;
        display: block;
        width: fit-content;
    }

    .btn-primary {
        &.focus, &:focus {
            color: #fff;
            background-color: #73bd79;
            border-color: #73bd79;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }



        &:hover {
            color: #000;
            background-color: #73bd79;
            border-color: #73bd79;
        }
    }

    .btn-primary:not(:disabled):not(.disabled) {
        &.active, &:active {
            color: #fff;
            background-color: #73bd79;
            border-color: #73bd79;
            color: #000000;
        }
    }
}

.buttons {
    border: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #3c5438;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    align-self: stretch;

    &:hover {
        text-decoration: none;
        color: white;
    }
}

.club-page-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: center;

    .grid-block {
        padding: 10px;
        margin: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .vertical-grid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .horizontal-grid {
        display: flex;
        align-items: stretch;
    }

    .grid-header {
        text-align: center;
    }

    .main-info {
        flex-basis: 33%;

        .top-info {
            display: flex;
            align-items: flex-start;

            .curin-img {
                width: 50vh;
                height: 50vh;
                margin: 0 auto;
            }
        }

        .bottom-info-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
        }

        .line-pair {
            font-size: 12px;

            .line-upper {
                font-size: 1em;
                color: #888;
                margin: 0;
            }

            .line-lower {
                font-size: 1.5em;
            }
        }
    }

    .secondary-info {
        flex-direction: column;
        justify-content: space-between;

        .about-info {
            .info {
                text-align: justify;
            }
        }

        .people-info, .members-info, .followers-info {
            flex-grow: 1;
        }

        .members-info {
        }

        .members-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            min-height: 100px;

            .no-followers-in-club{
                text-align: center;
            }
        }

        .followers-info {
            .member-wrapper {
                position: relative;
                margin-bottom: 5px;

                .plus {
                    position: absolute;
                    bottom: -5px;
                    right: -5px;
                    color: #3c5438;
                    font-size: 23px;
                    font-weight: bold;
                }
            }
        }

        .member-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 8px;
            width: 33%;
            text-align: center;

            .member-img-block {
                width: 50px;
                height: 50px;
                background-repeat: repeat-y;
                background-repeat: repeat-x;
                background-size: cover;
                background-position: center center;
                text-align: center;
            }

            .member-img {
                width: 50px;
                height: 50px;
            }

            .member-name {
                margin-bottom: 0;
                text-overflow: ellipsis;
                max-height: 4.5em;
                overflow: hidden;
                width: 100%;
            }
        }
    }
}

@media (max-width: 850px),(orientation: portrait) {
    .club-page-wrapper {
        flex-direction: column;

        .main-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .secondary-info {
            .people-info {
                flex-direction: column;
            }
        }
    }
}
