.club-page-wrapper.club-page-wrapper-description {
    display: flex;
    align-items: stretch;
    justify-content: center;

    .grid-header {
        text-align: center;
    }

    .main-info-description {
        flex-basis: 50%;
        flex-grow: 1;
        width: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .secondary-info-description {
        flex-basis: 50%;

        .about-info-description {
            .info-description {
                text-align: justify;
            }
        }
    }
}
    @media (max-width: 767px),(orientation: portrait) {
        .club-page-wrapper.club-page-wrapper-description {
            flex-direction: column;

            .main-info.main-info-description {
                width: 100%;
                flex-basis: unset;
                height: 500px
            }
        }
    }
    
