.context-menu-list{
    z-index: 666;
}

.data-table-wrapper {
    margin: 100px 0px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    table.dataTable thead {
        .th-sm {
            vertical-align: middle;
        }
    }

    table.dataTable tbody {
        tr.context-menu-one {
            td {
                a {
                    color: #212529;
                }
            }
        }
    }

    .page-item.active .page-link {
        color: #000;
        background-color: #ffffff;
        border-color: none;
        box-shadow: 0 0 0 0.2rem #3c5438;
    }

    .paginate_button.page-item {
        .page-link {
            background: #3c5438 !important;
            color: #ffffff !important;
        }

        .page-link &:hover, &:active, &:focus {
            background: #344a30 !important;
            color: #fff !important;
            border-color: #fff;
        }
    }

    .page-item.disabled .page-link {
        background: #2e402b !important;
    }

    .page-item.active .page-link {
        border-color: #3c5438;
    }
}

@media (max-width: 767px) {
    .data-table-wrapper {
        margin: 20px 0px;
        padding: 6px;

        .dataTables_filter, .dataTables_length, .dataTables_info {
            float: left;
        }
    }
}
