.Create-decesion-form {
    padding: 10px 0px 0px 0;

    form {
        max-width: 480px;
        width: 90%;
        margin: 0 auto;
        background-color: #ffffff;
        padding: 40px;
        border-radius: 4px;
        color: #505e6c;
    }

    h2 {
        margin-top: 5px;
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 36px;
        color: inherit;
    }

    .form-group:last-child {
        margin-bottom: 5px;
    }

    form {
        .form-group:last-of-type {
            text-align: center;
        }

        .form-control {
            background: #fff;
            border-radius: 2px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
            outline: none;
            color: inherit;
            padding-left: 12px;
            height: 42px;

            &:focus {
                border: 1px solid #b2b2b2;
            }
        }

        textarea.form-control {
            min-height: 100px;
            max-height: 260px;
            padding-top: 10px;
            resize: vertical;
        }

        .btn {
            padding: 16px 32px;
            border: none;
            background: none;
            box-shadow: none;
            text-shadow: none;
            opacity: 0.9;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 13px;
            letter-spacing: 0.4px;
            line-height: 1;
            outline: none !important;

            &:hover {
                opacity: 1;
            }

            &:active {
                transform: translateY(1px);
            }
        }

        .btn-primary {
            background-color: #3c5438 !important;
            margin-top: 15px;
            color: #fff;
        }

        .form-group {
            .upload-btn-wrapper {
                position: relative;
                overflow: hidden;
                display: inline-block;
            }

            .upload-btn {
                border: 2px solid gray;
                color: gray;
                background-color: white;
                padding: 8px 20px;
                border-radius: 2px;
                font-size: 16px;
                font-weight: bold;
            }

            input[type=file] {
                font-size: 100px;
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }
        }
    }
}

.data-table-wrapper {
    .decision-heading {
        text-align: center;
    }

    .show_hide, .hide_show {
        cursor: pointer;
    }

    .hide {
        visibility: hidden;
    }

    #dtReadDecesion_wrapper {
        #dtReadDecesion_filter {
            label {
                button[data-toggle="modal"] {
                    margin: 0 0 3px 2rem;
                    border-color: #3c5438 !important;
                }

                button[data-toggle="modal"]:focus {
                    box-shadow: 0 0 0 0.2rem #3c5438 !important;
                }

                button[data-toggle="modal"]:active {
                    border-color: #3c5438 !important;
                }
            }
        }

        table.dataTable thead {
            .sorting, .sorting_desc, .sorting_asc, .sorting_asc_disabled, .sorting_desc_disabled {
                &:after, &:before {
                    right: 14px !important;
                    visibility: hidden;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .Create-decesion-form {
        padding: 20px 0;

        form {
            padding: 30px;
        }
    }

    .data-table-wrapper {
        font-size: 18px;
        text-align: center;
        font-size: 9px;

        .decision-heading {
            font-size: 18px;
            text-align: center;
        }

        .dataTables_filter {
            label {
                #createDecesionButton {
                    min-width: 85px !important;
                }
            }
        }

        #dtReadDecesion_wrapper {
            table.dataTable thead {
                .sorting, .sorting_desc, .sorting_asc, .sorting_asc_disabled, .sorting_desc_disabled {
                    &:after, &:before {
                        bottom: 9px;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}