.photo-wrapper {
    margin-top: 5%;
    display: flex;



    .Upload-photo {
        position: relative;
        overflow: hidden;
        display: grid;
        width: 100px;
    }

    .upload-btn {
        border: 2px solid #3c5438;
        color: gray;
        background-color: white;
        padding: 2px;
        cursor: pointer;
    }

    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    .row {
        justify-content: center;
    }

    .accept {
        text-align: center;
        position: relative;
    }

    .btn {
        border-radius: 0;
    }
}
.rowEditPage {
    justify-content: center;
}

.gender-wrapper {
    select {
        padding-right: 25px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.editPage {
    @media (max-width: 767px) {
        .photo-wrapper .upload-btn {
            font-size: 10px;
            width: 75px;
        }

        form input[type=email].form-control, form input[type=password].form-control, form input[type=text].form-control {
            background-color: #fff;
            width: 150px;
        }

        .photo-wrapper .Upload-photo {
            position: relative;
            overflow: hidden;
            display: grid;
            width: 75px;
        }
    }

    @media (max-width: 576px) {
        .photo-wrapper .upload-btn {
            font-size: 10px;
            width: 75px;
        }

        form input[type=email].form-control, form input[type=password].form-control, form input[type=text].form-control {
            background-color: #fff;
            width: 150px;
        }

        .photo-wrapper .Upload-photo {
            position: relative;
            overflow: hidden;
            display: grid;
            width: 75px;
        }
    }
}
