.event-page-wrapper .event-header {
  color: #3c5438;
  font-size: 19px;
}

.event-page-wrapper .admin-link {
  color: #73bd79;
  font-size: 18px;
}

.event-page-wrapper .event-value {
  font-size: 18px;
}

.event-page-wrapper .event-description {
  font-size: 16px;
}

@media (max-width: 767px) {
    .event-page-wrapper .logo {
        color: #3c5438;
        font-size: 200px;
    }
}

@media (min-width: 768px) {
    .event-page-wrapper .logo {
        color: #3c5438;
        font-size: 175px;
    }
}

@media (min-width: 1024px) {
    .event-page-wrapper .logo {
        color: #3c5438;
        font-size: 200px;
    }
}

.event-page-wrapper .event-detail {
  color: #3c5438;
  font-size: 20px;
}

.event-page-wrapper a.event-detail:hover {
  color: #73bd79;
}

.event-page-wrapper .event-fabutton {
  background: none;
  padding: 0px;
  border: none;
}

.event-page-wrapper .event-remove {
  color: #8B0000;
  font-size: 25px;
}

.event-page-wrapper a.event-remove:hover {
    color: #FF0000;
}


.event-page-wrapper .event-link {
  color: #3c5438;
  font-size: 25px;
}

.event-page-wrapper a.title-link:hover {
    color: #73bd79;
}

.event-page-wrapper a.title-link {
    color: #000000;
}


.event-page-wrapper .event-link:hover {
    color: #73bd79;
    font-size: 25px;
}

.event-page-wrapper .event-invisible {
  display: none;
}

.event-page-wrapper .disabled-element {
    pointer-events: none;
    opacity: 0.4;
}

.event-page-wrapper a.participant-status {
  color: #FF8C00;
  font-size: 25px;
}

.event-page-wrapper .participant-status:hover {
  color: #FFA500;
}

.event-page-wrapper .carousel-inner img {
  width: 100%;
  height: 100%;
}

.event-page-wrapper .carousel-item {
  text-align: center;
}


.event-page-wrapper .plast-color {
  color: #3c5438;
}

.event-page-wrapper .carousel-inner img {
  width: auto;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 480px) {
  .event-page-wrapper .carousel-inner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.event-page-wrapper .btn-collapse {
  background-color: #3c5438;
  color: #ffff;
  font-size: 20px;
}

input.event-page-wrapper.btn-collapse:hover {
  background-color: #73bd79;
  color: #ffff;
}

.event-page-wrapper .part-check {
  width: 20px;
  height: 20px;
}

.event-page-wrapper .event-btn-modal {
    background-color: #3c5438;
    color: #ffff;
    font-size: 15px;
    width: 100px;
}

.event-page-wrapper .event-btn-modal:hover {
    background-color: #73bd79;
    color: #ffff;
    font-size: 15px;
    width: 100px;
}

.event-page-wrapper {
    .page-item.disabled .page-link {
        background-color: #3c5438;
        color: #ffffff;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        filter: invert(0.25);
    }


    .page-item.active .page-link {
        color: #000;
        background-color: #ffffff;
        border-color: none;
    }

    .shadowBlock {
        background-color: #ffffff;
    }

    a.picture-remove {
        color: #8B0000;
        font-size: 20px;
    }

    a.picture-remove:hover {
        color: #FF0000;
        font-size: 20px;
    }

    .picture-deleting {
        max-height: 400px;
    }

    @media (max-width: 767px) {
        .gallery-buttons {
            background-color: #3c5438;
            min-width: 110px;
        }
    }

    @media (min-width: 768px) {
        .gallery-buttons {
            background-color: #3c5438;
            min-width: 153px;
        }
    }

    .pictureToDelete img {
        height: 150px;
    }

    .pointer {
        cursor: pointer;
    }

    .progress-cursor {
        cursor: progress;
    }

    .status-icon {
        font-size: 15px;
    }

    .page-item.active .page-link {
        color: #000;
        background-color: #ffffff;
        border-color: none;
        box-shadow: 0 0 0 0.2rem #3c5438;
    }

    .paginate_button.page-item {
        .page-link {
            background: #3c5438 !important;
            color: #ffffff !important;
        }

        .page-link &:hover, &:active, &:focus {
            background: #344a30 !important;
            color: #fff !important;
            border-color: #fff;
        }
    }

    .page-item.disabled .page-link {
        background: #2e402b !important;
    }

    .page-item.active .page-link {
        border-color: #73bd79;
    }
}