.eventUserPage {
    #eventPersonalInfo {
        width: 263px;
        height: 487px;
        left: 250px;
        top: 78px;
        margin: 20px 10px;
        margin-top: 40px;
    }

    .border {
       // border: 1px solid #3C5438;
        border-radius: 15px;
        margin: 0px;
        width: 180px;
    }

    .shadow {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .events {
        background-color: #ffffff;
    }

    .user-profile {
        width: 100%;
        //border: 1px solid #3C5438;
        margin-left: 5px;
        margin-right: 5px;
    }

    @media(max-width:770px) {
        .container {
            margin: 5px;
        }

        .user-profile {
            width: 84%;
        }
    }

    #permitedEvents, #notPermitedEvents {
        width: 95%;
        height: 231px;
        left: 538.73px;
        top: 78px;
        margin: 20px 10px;
        margin-top: 40px;
    }

    @media (max-width: 770px) {
        #planedEvents {
            width: 86%;
            height: inherit;
            left: 537.82px;
            top: 330px;
            background-color: #ffffff;
            margin: 20px;
            object-fit: cover;
        }
    }

    @media (max-width: 576px) {
        #planedEvents {
            width: 86%;
            height: inherit;
            left: 537.82px;
            top: 330px;
            background-color: #ffffff;
            margin: 20px;
            object-fit: cover;
        }
    }

    #planedEvents {
        width: 86%;
        height: 200px;
        left: 537.82px;
        top: 330px;
        background-color: #ffffff;
        margin: 20px;
        margin-top: 36px
    }

    @media (max-width: 370px) {
        #planedEvents {
            width: 304px;
            height: 215px;
            left: 537.82px;
            top: 330px;
            background-color: #ffffff;
            margin: 20px;
        }
    }

    @media (min-width: 576px) {
        .col-sm {
            /*-ms-flex-preferred-size: 0;*/
            flex-basis: 0;
            /*-ms-flex-positive: 1;*/
            flex-grow: 1;
            max-width: 308px;
        }
    }

    .col-sm {
        &.big {
            max-width: inherit;
        }

        &.small {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            flex-grow: 1;
            max-width: 308px;
        }
    }

    @media (max-width: 576px) {
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            max-width: 925px;
        }
    }

    .detailesButton {
        background-color: #3c5438;
        width: 130px;
    }

    .btn-primary:not(:disabled):not(.disabled) {
        &.active, &:active {
            color: #fff;
            background-color: #73bd79;
            border-color: #73bd79;
            color: #000000;
        }
    }

    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #73bd79;
        border-color: #73bd79;
        color: #000000;
    }

    .btn-primary {
        &.focus, &:focus {
            color: #fff;
            background-color: #73bd79;
            border-color: #73bd79;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }

        &:hover {
            color: #000;
            background-color: #73bd79;
            border-color: #73bd79;
        }
    }

    .spliter {
        width: 263px;
        height: 10.12px;
        left: 250px;
        top: 417.77px;
        background: #3C5438;
    }

    @media (max-width: 590px) {
        #infoSplit {
            width: inherit;
            height: 10.12px;
            left: 250px;
            top: 417.77px;
            background: #3C5438;
            margin: auto;
        }
    }

    .visitCount {
        margin-bottom: -6px;
        margin-top: 6px;
    }

    .visitEvent {
        margin-top: 30px;
        margin-bottom: 16px;
    }

    .eventInfo {
        margin-bottom: 2px;
    }

    .planedEvent {
        margin-bottom: 9px;
        margin-top: 34.3px;
    }

    #infoSplitSmall {
        background: #3C5438;
        width: 100%;
    }

    #infoSplit {
        background: #3C5438;
    }

    .personalInfo {
        margin-top: 32px;
    }

    .visitedMargin {
        margin-top: 35px;
        margin-bottom: 9px;
    }

    .createdMargin {
        margin-top: 58px;
        margin-bottom: 9px;
    }

    .notcCreatedMargin {
        margin-top: 35.5px;
    }

    .imageSize {
        margin-top: 10px;
        width: 200px;
        height: 200px;
    }

    .jumbotron {
        max-width: 100%;
        margin-top: 20px;
    }

    .text-center.justify-content-center.box {
        max-width: 100%;
        margin: auto;
    }

    .bigSpliter {
        height: 10px;
        width: inherit;
        margin-bottom: -2px;
    }

    .btn-primary:not(:disabled):not(.disabled) {
        &.active, &:active {
            color: #fff;
            background-color: #3C5438;
            border-color: #3C5438;
        }
    }

    .show > .btn-primary.dropdown-toggle, .btn-primary {
        color: #fff;
        background-color: #3C5438;
        border-color: #3C5438;
    }
}
