@media (max-width: 575px) {
  #ep-div1 {
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 75px;
    min-height: 470px;
  }

    #ep-code {
        font-size: 100px;
        color: #3c5438;
        margin-left: 0px;
        margin-top: 50px;
        margin-right: 15px;
    }

    #error-page-btn {
        font-size: 8px;
        background-color: #3c5438 !important;
        width: 100px;
        height: 45px !important;
    }

    #error-page-msg {
        font-size: 15px;
        margin-left: 5px;
    }

    #ep-icn {
        font-size: 105px;
        color: #3c5438;
    }

    #ep-line {
        background-color: #3c5438;
        width: 3px;
        height: 400px;
    }
}

@media (min-width: 576px) {
  #ep-div1 {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 75px;
    min-height: 450px;
  }

    #ep-code {
        font-size: 135px;
        color: #3c5438;
        margin-left: 0px;
    }

    #error-page-btn {
        font-size: 18px;
        background-color: #3c5438 !important;
        width: 160px;
        height: 65px !important;
    }

    #error-page-msg {
        font-size: 30px;
    }

    #ep-icn {
        font-size: 190px;
        color: #3c5438;
    }

    #ep-line {
        background-color: #3c5438;
        width: 3px;
        height: 420px;
    }
}

@media (min-width: 992px) {
  #ep-div1 {
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 70px;
    min-height: 500px;
  }

    #ep-line {
        background-color: #3c5438;
        width: 3px;
        height: 395px;
    }

    #ep-code {
        font-size: 200px;
        color: #3c5438;
        margin-left: 0px;
    }

    #error-page-btn {
        font-size: 25px;
        background-color: #3c5438 !important;
        width: 200px;
        height: 65px !important;
    }

    #error-page-msg {
        font-size: 37px;
    }
}

@media (min-width: 360px) {
  #ep-div-left {
    max-width: 400px;
    margin-left: 15px;
  }

    #ep-div-right {
        max-width: 400px;
        margin-right: 15px;
    }
}

@media (min-width: 800px) {
  #ep-icn {
    font-size: 235px;
    color: #3c5438;
  }
}

.ep-body {
  background-color: #3c5438;
}

button.error-page-custom:hover
{
     color: #73bd79;
}