.events-page-wrapper .event-link {
    color: #3c5438;
    font-size: 25px;
}

.events-page-wrapper .event-link-mytext {
    color: #3c5438;
    font-size: 18px;
}

.events-page-wrapper a.event-link-mytext:hover {
    color: #73bd79;
}

.events-page-wrapper .event-remove {
    color: #8B0000;
    font-size: 25px;
}

.events-page-wrapper button:hover {
    color: white;
}

.events-page-wrapper .events-content {
    height: 175px;
}

.events-page-wrapper .events-card {
    min-height: 300px;
}

.events-page-wrapper .events-card-header {
    min-height: 63px;
}

.events-page-wrapper a.event-link:hover {
    color: #73bd79;
}

.events-page-wrapper button.event-remove:hover {
    color: #FF0000;
}

.events-page-wrapper a.event-remove:hover {
    color: #FF0000;
}

.events-page-wrapper .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.events-page-wrapper .single-card {
    border-color: red;
}

.events-page-wrapper .event-fabutton {
    background: none;
    padding: 0px;
    border: none;
}

.events-page-wrapper .event-logo {
    color: #3c5438;
    font-size: 75px;
}

.events-page-wrapper .event-invisible {
    display: none;
}

.events-page-wrapper .events-part {
    color: #73bd79;
}

.participant-status {
    color: #FF8C00;
    font-size: 25px;
}

a.participant-status:hover {
    color: #FFA500;
}


.events-page-wrapper a.title-link:hover {
    color: #73bd79;
}

.events-page-wrapper .event-btn-modal {
    background-color: #3c5438;
    color: #ffff;
    font-size: 15px;
    width:100px;
}

.events-page-wrapper .event-btn-modal:hover {
    background-color: #73bd79;
    color: #ffff;
    font-size: 15px;
    width:100px;
}