* {
    margin: 0;
    padding: 0;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;

    .plast-header {
        background-color: #3c5438;
        border: 0;
        color: white;
        line-height: 1;

        .container-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-grow: 1;
            position: relative;

            .icon-wrapper {
                align-self: center;
                margin: 0 10px 0 0;
            }

            .navbar-header {

                .plast-logo {
                    width: 40px;
                    height: 40px;
                    float: left;
                    padding: 0px;
                    margin: 0px;
                    margin-right: 5px;
                    cursor: pointer;
                }

                .page-header-title {
                    color: white;
                    line-height: 1;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            .nav-content {
                display: flex;
                align-items: center;

                #layout-gear {
                    position: absolute;
                    margin-left: -162px;

                    .dropdown-item:hover {
                        background-color: #3c5438;
                        color: #fff !important;
                    }
                }

                .nav-logo {
                    padding: 0px;
                    color: white;
                    margin-left: 10px;
                    cursor: pointer;
                }

                .profile {
                    margin-left: 30px;
                    display: flex;
                    align-items: center;

                    .white-border {
                        border: 2px solid white;
                    }

                    .header-name {
                        display: inline-block;
                        line-height: 1;
                    }
                }
            }
        }
    }

    .plast-avatar {
        width: 40px;
        object-fit: cover;
        height: 40px;
        background-image: url('https://galinfo.com.ua/media/gallery/full/p/l/plast1.jpg');
    }

    .main-block {
        display: flex;
        align-items: stretch;
        flex-grow: 1;
        position: relative;

        .sidebar {
            flex-direction: column;
            display: flex;
            align-items: stretch;
            background-color: darkgray;
            z-index: 10;

            .back-pic {
                background-color: #3c5438;
                border: 4px solid firebrick;
                height: 150px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .back-pic-inner {
                    border: 4px solid goldenrod;
                    height: 150px;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
            }

            .sidebar-ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .sidebar-logo {
                    padding: 0px;
                    width: 40px;
                    height: 40px;
                    margin-top: 10px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center center;
                    opacity: 0.7;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                    }
                }

                .profile-icon {
                    background-image: url('http://plast-dev.sitegist.net/images2/eplast/menu-profile.png');
                }

                .decision-icon {
                    background-image: url('http://plast-dev.sitegist.net/images2/eplast/plast-document-36.png');
                }

                .dictionary-icon {
                    background-image: url('http://plast-dev.sitegist.net/images2/eplast/menu-handbook.png');
                }

                .admin-icon {
                    background-image: url('http://plast-dev.sitegist.net/images2/eplast/menu-admin.png');
                }

                .cabinet-icon {
                    background-image: url('http://plast-dev.sitegist.net/images2/eplast/menu-dashboard.png');
                }
            }
        }

        .content {
            background-color: #eeeeee;
            flex-grow: 1;
            display: flex;
            align-items: stretch;
            justify-content: center;

            .backdrop {
                background-color: rgba(0,0,0,0.6);
                position: absolute;
                right: 0;
                bottom: 0;
                top: 0;
                z-index: 9;
                left: 56px;

                .slider {
                    width: 300px;
                    background-color: #374d34;
                    height: 100%;
                    position: sticky;
                    top: 0;
                    left: 0;
                    bottom: 0;

                    .menu-button-holder {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .menu-button {
                            width: 100%;
                            background-color: #3c5438;
                            color: white;
                            border: 1px solid #374d34;
                            padding: 5px;

                            &:hover {
                                background-color: #374d34;
                            }
                        }
                    }
                }
            }

            .content-wrapper {
                display: flex;
                align-items: stretch;
                flex-direction: column;
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media (max-width: 575px) {
    .main-wrapper {
        .container-header {
            .profile {
                .btn {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 767px),(orientation: portrait) {
    .main-wrapper {
        .plast-header {
            .container-header {
                flex-direction: column;

                .nav-content {
                    flex-direction: column;

                    .profile {
                        margin-left: 0;
                    }
                }
            }
        }

        .main-block {
            .sidebar {
                position: sticky;
                height: 100vh;
                top: 0;
            }

            .content {
                overflow: hidden;

                .backdrop {
                    position: sticky;
                    height: 100vh;
                    top: 0;
                    left: 0;
                    min-width: 100%;

                    .slider {
                        width: 100%;
                    }
                }
            }
        }
    }

    .non-scrollable {
        overflow: hidden;
        height: 100vh;
    }
}

.sideMenu {
    position: absolute;
    height: 100%;
    width: 0;
    z-index: 666;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;

    .mainPart {
        width: 250px;
        padding-top: 60px;
        background-color: #3c5438;
    }

    .opacityPart {
        background-color: rgba(0,0,0,0.6);
    }

    .sideMenuContent {
        margin: 0px 0px 10px 32px;

        a {
            cursor: default;
            text-decoration: none;
            font-size: 25px;
            color: #f1f1f1;
            display: block;
        }

        a:hover {
            color: #f1f1f1;
        }
    }

    .closebtn {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #f1f1f1;
        display: block;
        transition: 0.3s;
        position: absolute;
        top: 0px;
        right: 5px;
        font-size: 36px;
        margin-left: 50px;
    }

    .sideMenuHiddenContent {
        height: 0;
        visibility: hidden;

        a {
            cursor: default;
            text-decoration: none;
            font-size: 15px;
            color: #818181;
            display: block;
        }

        a:hover {
            color: #f1f1f1;
        }
    }
}

@media screen and (max-height: 450px) {
    .sideMenu {
        padding-top: 15px;
    }

    .sideMenu a {
        font-size: 18px;
    }
}