.modal-success {
    .modal-header {
        background-color: #3c5438;

        h4 {
            color: #ffffff;
        }
    }

    .modal-body {
        i {
            color: #3c5438;
        }

        .p-modal-success {
            font-size: 18px;
        }
    }

    .modal-footer {
        .btn {
            background-color: #3c5438;
            width: 100px;
            min-width: 100px;
        }

        .btn:focus {
            border-color: #3c5438;
        }
    }
}

.modal-error {
    .modal-header {
        background-color: #d90d0d;

        h4 {
            color: #ffffff;
        }
    }

    .modal-body {
        i {
            color: #d90d0d;
        }

        .p-modal-error {
            font-size: 18px;
        }
    }

    .modal-footer {
        .btn {
            background-color: #d90d0d;
            width: 100px;
            min-width: 100px;
        }

        .btn:focus {
            border-color: #d90d0d;
        }
    }
}

.modal-yesno {
    .modal-content {
        width: 80%;
    }

    .modal-header {
        background-color: #3c5438;

        h4 {
            color: #ffffff;
        }
    }

    .modal-body {
        i {
            color: #3c5438;
        }

        .p-modal-success {
            font-size: 18px;
        }
    }

    .modal-footer {
        .row {
            width: 100%;
        }

        .btn {
            background-color: #3c5438;
            width: 100px;
            min-width: 100px;
        }

        .btn:focus {
            border-color: #3c5438;
        }
    }
}