﻿a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media(max-width:1200px) {
    .form .login-register-switcher {
        margin-bottom: 30px;
    }
}

@media(max-width:768px) {
    .login-register-swithcer {
        width: 100px;
    }
}

@media(max-width:576px) {
    .login-clean .form .forgot-password-container p {
        font-size: 18px;
    }

    .form .login-register-switcher .circle-wrapper .login-circle p {
        font-size: 22px;
    }

    .login-clean a {
        font-size: 18px;
    }

    html {
        font-size: 12px;
    }

    .form .login-register-switcher {
        margin-bottom: 30px;
    }
}

@media(max-width:545px) {
    .login-clean .form .reset p {
        font-size: 17px;
    }
}

@media(max-width:510px) {
    .login-clean .form .forgot-password-container p {
        font-size: 16px;
    }

    .form .login-register-switcher .circle-wrapper .login-circle p {
        font-size: 18px;
    }

    .login-clean a {
        font-size: 16px;
    }

    html {
        font-size: 11px;
    }

    .form .login-register-switcher {
        margin-bottom: 30px;
    }
}

@media(max-width:500px) {
    .login-clean .form .reset p {
        font-size: 15px;
    }
}

@media(max-width:470px) {
    .login-clean .form .forgot-password-container p {
        font-size: 14px;
    }

    .login-clean .form .forgot-password-container {
        height: 42px;
    }

    .form .login-register-switcher .circle-wrapper .login-circle p {
        font-size: 14px;
    }

    .login-clean a {
        font-size: 14px;
    }

    html {
        font-size: 10px;
    }

    .form .login-register-switcher {
        margin-bottom: 30px;
    }
}

@media(max-width:465px) {
    .login-clean .form .reset p {
        font-size: 13px;
    }
}

@media(max-width:445px) {
    .login-clean .form .reset p {
        font-size: 12px;
    }
}

@media(max-width:425px) {
    .login-clean .form .reset p {
        font-size: 10px;
    }

    .login-clean .form .forgot-password-container p {
        font-size: 13px;
    }

    .login-clean .form .forgot-password-container {
        height: 37px;
    }

    .form .login-register-switcher .circle-wrapper .login-circle p {
        font-size: 13px;
    }

    .form .login-register-switcher {
        margin-bottom: 30px;
    }

    .login-clean a {
        font-size: 13px;
    }

    html {
        font-size: 10px;
    }
}

@media(max-width:412px) {
    .login-clean .form .reset p {
        font-size: 9px;
    }

    .form .login-register-switcher .circle-wrapper .login-circle p {
        font-size: 10px;
    }

    .login-clean a {
        font-size: 9px;
    }

    html {
        font-size: 10px;
    }

    .form .login-register-switcher {
        margin-bottom: 20px;
    }

    .register-form .form-group {
        input[type="email"],
        input[type="password"],
        input[type="text"] {
            height: 30px;
        }
    }

    .login-form .form-group {
        input[type="email"],
        input[type="password"] {
            height: 30px;
        }
    }

    .login-buttons .loginBtn {
        font-size: 14px;
    }
}

@media(max-width:412px) {
    .login-clean .form .forgot-password-container p {
        font-size: 10px;
    }

    .form .form-control {
        input[type="email"] {
            height: 28px;
        }
    }

    .login-form .form-group {
        input[type=checkbox] {
            transform: scale(0.85);
        }
    }
}

@media(max-width:385px) {
    .login-clean .form .reset p {
        font-size: 10px;
    }
}

@media(max-width:350px) {
    .login-form .form-group {
        .remember-me {
            margin-left: 15px;
            margin-top: 5px;
            margin-right: 25px;
        }
    }

    .login-clean .form .reset {
        height: 25px;
        padding-bottom: 25px;
    }

    .form .login-register-switcher .circle-wrapper .login-circle p {
        font-size: 14px;
    }

    .login-clean .form .reset p {
        font-size: 8px;
    }

    .login-clean a {
        font-size: 7px;
    }

    html {
        font-size: 8px;
    }

    .form .login-register-switcher {
        margin-bottom: 20px;
    }

    .register-form .form-group {
        input[type="email"],
        input[type="password"],
        input[type="text"] {
            height: 28px;
        }
    }

    .login-form .form-group {
        input[type="email"],
        input[type="password"] {
            height: 25px;
        }
    }

    .login-form .form-group {
        input[type=checkbox] {
            transform: scale(0.75);
        }
    }

    .login-clean .form .form-control {
        height: 10px;
    }

    .login-form .form-group {
        a {
            font-size: 10px;
            color: blue;
            background-color: blue;
        }
    }

    .login-button .loginBtn-container {
        button[type="submit"]::before {
            font-size: 20px;
        }
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

table.dataTable thead {
    .sorting {
        &:after, &:before {
            bottom: .5em;
        }
    }

    .sorting_asc {
        &:after, &:before {
            bottom: .5em;
        }
    }

    .sorting_asc_disabled {
        &:after, &:before {
            bottom: .5em;
        }
    }

    .sorting_desc {
        &:after, &:before {
            bottom: .5em;
        }
    }

    .sorting_desc_disabled {
        &:after, &:before {
            bottom: .5em;
        }
    }
}

body {
    font-family: "SourceSansPro";
    background-color: rgb(245, 245, 245);
}

form input {
    &[type="text"].form-control, &[type="email"].form-control, &[type="password"].form-control {
        background-color: white;
    }
}

.login-register-switcher {
    position: relative;
    margin-bottom: 50px;
}

.login-rectangle {
    position: relative;
    border-radius: 5px;
    background-color: rgba(55, 73, 84, 0.702);
    width: 100%;
    height: 56px;
    overflow: hidden;
}



.circle-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    top: -10px;
    display: flex;
    justify-content: center;
}

.login-circle {
    border-radius: 100%;
    background-color: #3c5438;
    width: 82px;
    height: 82px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 33px;
        color: rgb(255, 255, 255);
        text-align: left;
        margin: 0;
    }
}

.active-rectangle {
    position: absolute;
    background-color: #3c5438;
    width: 50%;
    height: 100%;
    transition: all linear 0.5s;
    z-index: -1;
}

.register-active {
    .active-rectangle {
        transform: translate(100%, 0);
    }

    .register-text {
        color: rgb(255, 255, 255);
    }
}

.login-active {
    .active-rectangle {
        transform: translate(0%, 0);
    }

    .login-text {
        color: rgb(255, 255, 255);
    }
}

.switcher-text {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    color: rgb(164, 168, 171);
    display: flex;
    align-items: center;

    a {
        color: inherit;
        transition: color linear 0.5s;
    }
}

.login-text {
    margin-left: 10px;
    margin-right: auto;
}

.register-text {
    margin-right: 10px;

    &:hover {
        text-decoration: unset;
    }
}

.login-text:hover {
    text-decoration: unset;
}

.register-text:hover ~ .active-rectangle {
    transform: translate(100%, 0);
}

.login-text:hover ~ .active-rectangle {
    transform: translate(0%, 0);
}

.register-text:hover, .login-text:hover {
    color: rgb(255, 255, 255);
}

.login-clean {
    margin-top: 45px;
    background-color: rgb(245, 245, 245);

    .form {
        max-width: 520px;
        width: 90%;
        margin: 0 auto;
        background-color: #fff;
        padding: 40px;
        border-radius: 4px;
        color: #505e6c;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

        .form-control {
            background: #f7f9fc;
            border: none;
            border-bottom: 1px solid #dfe7f1;
            border-radius: 0;
            box-shadow: none;
            outline: 0;
            color: inherit;
            text-indent: 8px;
            height: 42px;
        }

        .btn-primary {
            background: #f4476b;
            border: none;
            border-radius: 4px;
            padding: 11px;
            box-shadow: none;
            margin-top: 26px;
            text-shadow: none;
            outline: 0 !important;

            &:active, &:hover {
                background: #eb3b60;
            }

            &:active {
                transform: translateY(1px);
            }
        }

        .forgot {
            display: block;
            text-align: center;
            font-size: 12px;
            color: #6f7a85;
            opacity: .9;
            text-decoration: none;

            &:active, &:hover {
                opacity: 1;
                text-decoration: none;
            }
        }
    }
}

.login-text:hover, .register-text:hover {
    cursor: pointer;
}

.form-network {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#button-form-network {
    width: 600px;
    height: 40px;
    font-size: 40px;
    margin: 0 auto;
}

.forgot-password-container {
    background-color: #3c5438;
    color: #fff;
    border-radius: 3px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.forgot-password-container {
    .inner {
        text-align: center;
    }
}

.forgot-password-container p {
    font-size: 20px;
    margin-top: 9px;
}

.universal-container {
    background-color: #fff;
    border-radius: 4px;
    margin-left: 230px;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
    width:117px;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.loginBtn--google {
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.loginBtn-container {
    display: flex;
    justify-content: space-between;
}

.login-buttons {
    max-width: 440px;
}

.user-profile {
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-page-ident {
    height: 120px;
    text-align: center;
}

.outer-block-container {
    display: flex;
    justify-content: center;
}


.login-form .form-group {
    button[type=submit] {
        background-color: #3c5438;
    }
}

.login-form .form-group {
    input[type=checkbox] {
        width: 25px;
        height: 25px;
    }
}

.login-form .form-group {
    .remember-me {
        margin-left: 15px;
    }
}

.register-form .form-group {
    button[type=submit] {
        background-color: #3c5438;
    }
}

.login-form .form-group {
    .resetp-email {
        margin-top: 15px;
    }
}

#change{
    margin-top:25px;
}