.approversWrapper {
    .approversImg {
        margin: 10px;
        padding: 0;
        position: relative;
        height: 141px;

        .app-img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    }
}
.UserProfileWrapper {
    .profile-usertitle {
        text-align: center;
    }
}
.positionsWrapper {
    .profile-usertitle {
        text-align: center;
    }
}
.approversWrapper {
    .profile-usertitle {
        text-align: center;
    }
}
