.approversWrapper {
    .approversImg {
        margin: 10px;
        padding: 0;
        position: relative;
        height: 141px;

        .app-img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
        }
    }

    @media (max-width: 1024px) {
        .approvers-row {
            justify-content: center;
        }
    }

    .containerApprovers {
        height: 150px;
    }

    .approverKurin {
        padding-top: 30px;
    }

    @media (max-width: 728px) {
        .approverKurin {
            padding-top: 0px;
        }

        .containerApprovers {
            height: 100px;
        }
    }
}
.UserProfileWrapper {
    .profile-usertitle {
        text-align: center;
    }
}
.positionsWrapper {
    .profile-usertitle {
        text-align: center;
    }
}
.approversWrapper {
    .profile-usertitle {
        text-align: center;
    }
}
