@using EPlast.ViewModels.City
@model CityProfileViewModel
@{
    ViewData["Title"] = "Члени Станиці";
}
<div class="cityUserWrapper">
    <div class="d-flex flex-shrink-0 justify-content-center flex-wrap">
        @foreach (var adminCity in Model.CityAdmins)
        {
            <div class="card border rounded shadow-none d-inline float-left">
                <div class="border-primary d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center">
                    <p class="text-center">@adminCity.AdminType.AdminTypeName</p>
                </div>
                <div class="float-left d-xl-flex justify-content-xl-center align-items-xl-center"><a class="d-xl-flex justify-content-xl-end"><i class="fa fa-gear" style="font-size: 24px;"></i></a><a class="float-none d-xl-flex"><i class="fa fa-close" style="font-size: 24px;"></i></a></div>
                <div class="border rounded-circle" style="background-image: url('../../images/Users/@adminCity.User.ImagePath');"></div>
                <div class="d-inline">
                    <p class="text-center d-xl-flex justify-content-xl-center">@adminCity.User.FirstName</p>
                    <p class="text-center d-xl-flex justify-content-xl-center">@adminCity.User.LastName</p>
                </div>
            </div>
        }
        <input value="@Model.City.ID" type="hidden" name="cityId" id="cityId" />
    </div>
</div>