@using EPlast.ViewModels
@using Microsoft.AspNetCore.Identity
@model CityViewModel
@{
    ViewData["Title"] = "Index";
}

    <div class="cityMembesWrapper">
        <div class="d-flex flex-shrink-0 justify-content-center flex-wrap">
            @foreach (var doc in Model.CityDoc)
            {
                <div class="card border rounded shadow-none d-inline float-left" style="margin: 15px;width: 150px;height: 280px;">
                    <div class="float-left d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 30px;margin: -1px;"><a class="d-xl-flex justify-content-xl-end" style="padding-right: 95px;padding-left: 5px;color: #3c5438;"><i class="fa fa-gear" style="font-size: 24px;color: rgb(48,48,48);"></i></a><a class="float-none d-xl-flex" style="padding-right: 5px;padding-left: 5px;color: #3c5438;"><i class="fa fa-close" style="font-size: 24px;color: rgb(48,48,48);"></i></a></div>
                    <div style="height: 150px;background-image: url('https://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/document-icon.png');background-size: contain;background-repeat: no-repeat;background-position: center;margin: 5px;margin-top: 20px;margin-bottom: 0px;"></div>
                    <div class="d-inline">
                        <p class="text-center d-xl-flex justify-content-xl-center" style="margin: 0px;font-size: 16px;margin-right: 5px;margin-left: 5px;margin-bottom: 5px;">@doc.CityDocumentType.Name від @doc.SubmitDate.Value.ToString()</p>
                    </div>
                </div>
            }
            <input value="@Model.City.ID" type="hidden" name="cityId" id="cityId" />
        </div>
    </div>
