@using EPlast.ViewModels.City
@model CityProfileViewModel
@{
    ViewData["Title"] = "Створення Станиці";
}
<div class="main-wrapper">
    <div class="container content-wrapper" id="divCityContainer">
        <div class="data-table-wrapper-club club-wrappers-radius data-table-wrapper">
            <h1 class="grid-header">Створення Станиці</h1>
            <form id="formCityContainer" class="container mt-4" asp-action="Create" asp-controller="City" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-7">
                        <div class="form-group">
                            <label asp-for="City.Name" class="control-label">Назва</label>
                            <input asp-for="City.Name" class="form-control">
                            <span asp-validation-for="City.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.Description" class="control-label">Опис</label>
                            <input asp-for="City.Description" class="form-control">
                            <span asp-validation-for="City.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.CityURL" class="control-label">Посилання</label>
                            <input asp-for="City.CityURL" type="url" class="form-control">
                            <span asp-validation-for="City.CityURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.PhoneNumber" class="control-label">Номер телефону</label>
                            <input asp-for="City.PhoneNumber" id="phoneNumber" class="form-control" />
                            <span asp-validation-for="City.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.Email" class="control-label">Електронна пошта</label>
                            <input asp-for="City.Email" type="email" class="form-control" />
                            <span asp-validation-for="City.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.Region.RegionName" class="control-label">Округ</label>
                            <input asp-for="City.Region.RegionName" class="form-control" />
                            <span asp-validation-for="City.Region.RegionName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.Street" class="control-label">Вулиця</label>
                            <input asp-for="City.Street" class="form-control" />
                            <span asp-validation-for="City.Street" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.HouseNumber" class="control-label">Номер Будинку</label>
                            <input asp-for="City.HouseNumber" class="form-control" />
                            <span asp-validation-for="City.HouseNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.OfficeNumber" class="control-label">Номер Офісу\Квартири</label>
                            <input asp-for="City.OfficeNumber" class="form-control" />
                            <span asp-validation-for="City.OfficeNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="City.PostIndex" class="control-label">Поштовий Індекс</label>
                            <input asp-for="City.PostIndex" class="form-control" />
                            <span asp-validation-for="City.PostIndex" class="text-danger"></span>
                        </div>
                        <button type="submit" value="Save" class="btn submitCity">Підтвердити</button>
                    </div>
                    <div class="col">
                        <div class="form-group row">
                            <div class="col">
                                <img src="~/images/Cities/333493fe-9c81-489f-bce3-5d1ba35a8c36.jpg" class="img-thumbnail rounded mx-auto d-block" id="img" alt="your image" />
                                <div class="row rowEditPage">
                                    <div id="photo-wrapper" class="photo-wrapper">
                                        <div class="Upload-photo">
                                            <button id="upload-btn" class="upload-btn">Вибрати...</button>
                                            <input type="file" class="custom-file-input" id="upload-file" accept=".jpg,.jpeg,.png" name="file" onchange="document.getElementById('img').src = window.URL.createObjectURL(this.files[0])">
                                        </div>
                                        <div class="accept">
                                            <button type="submit" value="Save" id="Upload-photo" class="btn submitCity">Підтвердити</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

