@using EPlast.ViewModels.City
@model IEnumerable<CityViewModel>
@{
    ViewData["Title"] = "Станиці";
}
<div class="content-wrapper">
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Cтаниці</h1>
        <div class="club-list">
            @if (User.IsInRole("Admin"))
            {
                <a class="club-block-wrapper" asp-controller="City" asp-action="Create">
                    <span class="club-block club-wrappers-radius add-club-border">
                        <div class="club-block-submit rounded ">
                            <div class="club-img-wrapper">
                                <div class="club-img" style="background-image:url('/images/Cities/add_new_city.png')"></div>
                            </div>
                            <p class="club-name">Cтворити нову станицю</p>
                        </div>
                    </span>
                </a>
            }
            @foreach (var city in Model)
            {
                <form method="get" class="club-block-wrapper" action='~/City/CityProfile'>
                    <span class="club-block club-wrappers-radius">
                        <button type="submit" class="club-block-submit rounded ">
                            <div class="club-img-wrapper">
                                <div class="club-img">
                                    @if (city.Logo != null)
                                    {
                                        <div class="club-img" style="background-image:url('/images/Cities/@city.Logo')"></div>
                                    }
                                    else
                                    {
                                        <div class="club-img" style="background-image:url('/images/Cities/333493fe-9c81-489f-bce3-5d1ba35a8c36.jpg')"></div>
                                    }
                                </div>
                            </div>
                            <p class="club-name">@city.Name</p>
                            <input value="@city.ID" type="hidden" name="cityId" id="cityId" />
                        </button>
                    </span>
                </form>

            }
        </div>
    </div>
</div>
