@using EPlast.ViewModels
@model ClubProfileViewModel

<div id="changeEnddate" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header">
                <h4 class="modal-title">Вибрати дату завершення каденції</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="col d-xl-flex justify-content-xl-center align-items-xl-center flex-row " style="display: flex;">
                    <p style="margin: 0; margin-right: 40px;">Оберіть дату завершення каденції:</p>

                    <input class="border textBoxInput" id="txtToEndDate" name="Club" placeholder="Виберіть дату..." type="date" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-light add-club-border" style="background-color: #3c5438; " data-dismiss="modal">
                    <a onclick="ChooseEndDate()" style="color:white;">Зберегти</a>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="addClubAdmin" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-center justify-content-center">
            <div class="modal-header">
                <h4 class="modal-title">Додати діловодство</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="display: flex; flex-direction: row; justify-content: center;">
                <div style="display: flex; flex-direction: column;">
                    <p style="margin: 0; margin-right: 40px;">Назва діловодства:</p>
                    <p style="margin: 0; margin-right: 40px;">Дата початку діловодства:</p>
                    <p style="margin: 0; margin-right: 40px;">Дата закінчення діловодства</p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <input class="border textBoxInput" id="AdminTypeName" name="Club" placeholder="Введіть посаду">
                    <input class="border textBoxInput" id="ClubAdminStartDate" name="Club" placeholder="Виберіть дату..." type="date" value="">
                    <input class="border textBoxInput" id="ClubAdminEndDate" name="Club" placeholder="Виберіть дату..." type="date" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger text-light add-club-border" style="background-color: #3c5438; border: none; " data-dismiss="modal">
                    <a onclick="AddClubAdmin()" style="color:white;">Зберегти</a>
                </button>
            </div>
        </div>
    </div>
</div>

