@using EPlast.ViewModels.Club
@model ClubChooseAClubViewModel
@{
    ViewData["Title"] = "ChooseAClub";
}
<div class="content-wrapper">
    <div class="all-clubs-view">
        <h1 class="all-clubs-title">Оберіть курінь</h1>
        <div class="club-list">
            @foreach (var item in Model.Clubs)
            {
                <a method="post" class="club-block-wrapper" asp-controller="Club" asp-action="AddAsClubFollower" asp-route-clubIndex="@item.ID" asp-route-userId="@Model.UserId">
                    <span class="club-block club-wrappers-radius">
                        <div class="club-block-submit rounded ">
                            <div class="club-img-wrapper">
                                @if (item.Logo != null)
                                {
                                    <div class="club-img" style="background-image:url('/images/Club/@item.Logo')"></div>
                                }
                                else
                                {
                                    <div class="club-img" style="background-image:url('/images/Club/default.jpg')"></div>
                                }
                            </div>
                            <p class="club-name">@item.Name</p>
                            <input value="@item.ID" type="hidden" name="index" id="clubId" />
                        </div>
                    </span>
                </a>
            }
        </div>
    </div>
</div>
