@using EPlast.ViewModels
@model List<ClubViewModel>
@{
    ViewData["Title"] = "Index";
}
    <div class="content-wrapper">
        <div class="all-clubs-view">
            <h1 class="all-clubs-title">Курені</h1>
            <div class="club-list">
                @if (User.IsInRole("Admin"))
                {
                    <a class="club-block-wrapper" asp-controller="Club" asp-action="CreateClub">
                        <span class="club-block club-wrappers-radius add-club-border">
                            <div class="club-block-submit rounded ">
                                <div class="club-img-wrapper">
                                    <div class="club-img" style="background-image:url('/images/Club/add_new_club.png')"></div>
                                </div>
                                <p class="club-name">Cтворити новий курінь</p>
                            </div>
                        </span>
                    </a>
                }
                @foreach (var item in Model)
                {
                    <form method="post" class="club-block-wrapper" action='~/Club/Club'>
                        <span class="club-block club-wrappers-radius">
                            <button type="submit" class="club-block-submit rounded ">
                                <div class="club-img-wrapper">
                                    @if (item.Club.Logo != null)
                                    {
                                        <div class="club-img" style="background-image:url('/images/Club/@item.Club.Logo')"></div>
                                    }
                                    else
                                    {
                                        <div class="club-img" style="background-image:url('/images/Club/default.jpg')"></div>
                                    }
                                </div>
                                <p class="club-name">@item.Club.ClubName</p>
                                <input value="@item.Club.ID" type="hidden" name="index" id="clubId" />
                            </button>
                        </span>
                    </form>
                }
            </div>
        </div>
        </div>
