<div class="acountViewWrapper">
    <div class="outer-block-container">
        <div class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5 user-profile user-page-ident">
            <h3 class="mt-2">Для закінчення реєстрації перевірте електронну пошту і перейдіть за посиланням, яке вказане в листі.</h3>
        </div>
    </div>
</div>