<div class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5 user-profile user-page-ident">
    <h3 class="mt-2">Зміна пароля для користувачів, які увійшли використовуючи Google/Facebook не доступна.</h3>
</div>
