@model EPlast.DataAccess.Entities.User;
<div class="acountViewWrapper">
    <div class="outer-block-container">
        <div class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5 user-profile user-page-ident">
            <h3 class="mt-2">
                Час для підтвердження акаунта вичерпаний. Повторно
                <a asp-controller="Account" asp-action="ResendEmailForRegistering" asp-route-userId="@Model.Id">надіслати</a>
                лист для підтвердження реєстрації.
            </h3>
        </div>
    </div>
</div>