<div class="acountViewWrapper">
    <div class="outer-block-container">
        <div class="container bg-light m-5 pt-2 pb-5 pr-5 pl-5 user-profile user-page-ident">
            <h3 class="mt-2">
                Для скидування пароля, перейдіть за посиланням в листі, яке відправлене на вашу електронну пошту.
            </h3>
        </div>
    </div>
</div>
