@using EPlast.ViewModels;
@model ForgotPasswordViewModel

<div class="changeWrapper">
    <div class="login-clean">
        <div class="form">
            <div class="forgot-password-container d-flex">
                <div class="inner justify-content-center">
                    <p>Забули пароль?  Введіть електронну пошту</p>
                </div>
            </div>
            <form method="post" class="login-form" id="change" asp-action="ForgotPassword" asp-controller="Account">
                <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <input asp-for="@Model.Email" class="form-control" type="email" name="Email"
                           placeholder="Електронна пошта" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button class="btn btn-block text-light" type="submit">
                        Надіслати
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
