@using Microsoft.AspNetCore.Identity
@inject SignInManager<EPlast.DataAccess.Entities.User> SignInManager
@inject UserManager<EPlast.DataAccess.Entities.User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EPlast</title>

    @*<environment include="Development">*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/bundles/css/bundle.css" rel="stylesheet" />
    @*</environment>*@

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body class="ep-body">

    <nav class="navbar  sticky-top" style="font-size: 1.1em; background-color:#3c5438">
        <div class="container">
            <div class="navbar-header">
                <h1 style="color:#FFFFFF;">We're sorry but something went wrong...</h1>
            </div>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EPlast - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @*<environment include="Development">*@
    <script src="~/bundles/js/bundle.js"></script>
    @*</environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>