@{
    Layout = "~/Views/Error/_ErrorLayout.cshtml";
}
    <div class="d-flex flex-row justify-content-around align-items-center" id="ep-div1">
        <div class="text-left" id="ep-div-left">
            <p class="text-center" id="ep-code">@ViewBag.Code</p>
        </div>
        <div id="ep-div-center">
            <p id="ep-line"></p>
        </div>
        <div class="d-flex flex-column flex-shrink-0 align-items-center" id="ep-div-right">
            <i class="fas fa-bug" id="ep-icn"></i>
            <p id="error-page-msg">Internal server error !</p>
            <button class="btn btn-primary border rounded error-page-custom" id="error-page-btn" type="submit" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Go back</button>
        </div>
    </div>


