<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Підтвердження видалення</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете видалити дану подію?</p>
                <p class="text-secondary"><small>При видаленні даної події вся іформація пов'язана з нею буде також видалена.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
                <button type="button" id="delete" class="btn btn-success">Так, видалити</button>
            </div>
        </div>
    </div>
</div>

<div id="modalSubscribe" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Підтвердження зголошення</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете зголоситися на дану подію?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
                <button type="button" id="subscribe" class="btn btn-success">Так, зголоситися</button>
            </div>
        </div>
    </div>
</div>

<div id="modalUnSubscribe" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Підтвердження відписки</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Ви впевнені, що хочете відписатися від події?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Скасувати</button>
                <button type="button" id="unsubscribe" class="btn btn-success">Так, відписатися</button>
            </div>
        </div>
    </div>
</div>

<div id="modalSubscribeSuccess" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вітаємо!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Ви успішно надіслали заявку на участь у події.</p>
                <p class="text-secondary"><small>Найближчим часом ваша кандидатура буде розглянута адміністратром події, який прийме остаточне рішення щодо вашої участі у даній події.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="modalUnSubscribeSuccess" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вітаємо!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Ви успішно відписалися від події.</p>
                <p class="text-secondary"><small>Ви також можете в будь-який момент знову зголоситися на дану подію.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="FAIL" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Упсс...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Щось пішло не так. Спробуйте повторити дану дію пізніше або напишіть у техпідтримку.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="statusModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Упсс...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p id="resultOfStatusChanging"></p>
                <p class="text-secondary"><small>Спробуйте повторити дану дію пізніше або напишіть у техпідтримку.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="uploadModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div id="success" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вітаємо!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Нові фотографії успішно додані до галереї.</p>
            </div>
            <div class="modal-footer">
                <button id="uploadRes" type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="emptyGalleryModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div id="success" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Повідомлення!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>На даний момент галерея події порожня.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="conflictModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div id="success" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Повідомлення!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Не вдалося виконати дану дію, адже частина інформації на сторінці є застарілою.</p>
                <p class="text-secondary"><small>Натисніть "OK" після чого сторінку буде оновлено.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="conflictBut" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<div id="deleteResultSuccess" class="modal fade" tabindex="-1">
    <div  class="modal-dialog">
        <div id="success" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Вітаємо!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Подія успішно видалена.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteResultFail" class="modal fade" tabindex="-1">
    <div  class="modal-dialog">
        <div id="fail" class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Упсс...</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Щось пішло не так при видаленні події. Спробуйте пізніше або напишіть у техпідтримку.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success event-btn-modal" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

