
@model List<GeneralEventViewModel>

<div class="container my-4 events-page-wrapper">

    @*Модальні вікна*@
    @await Html.PartialAsync("_EventModals")

    <input type="hidden" id="evId" name="evId" value="456">
    <div class="row">
        @foreach (var _event in Model)
        {
            <div class=" col-lg-2 col-md-3 col-sm-4  mb-4 mx-0 single-card">
                <input type="hidden" value=@_event.EventId>
                <div class="card shadow text-center events-card">
                    <div class="card-header events-card-header">
                        <div class="row justify-content-between">
                            <div>
                                @if (_event.IsUserEventAdmin)
                                {
                                    <a class="event-remove delete-card" data-toggle="tooltip" data-placement="top" title="Видалити">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                }
                                else
                                {
                                    <a class="event-remove delete-card event-invisible " data-toggle="tooltip" data-placement="top" title="Видалити">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                }
                            </div>
                            <div class="events-operations">
                                @if (_event.IsUserEventAdmin)
                                {

                                    <div class="events-pen">
                                        <a class="event-link " data-toggle="tooltip" data-placement="right" title="Ви адмін!">
                                            <i class="fas fa-user-cog"></i>
                                        </a>
                                    </div>
                                }
                                else
                                {
                                    @if (!_event.IsEventFinished)
                                    {
                                        @if (_event.IsUserParticipant)
                                        {
                                            <div class="events-pen event-invisible">
                                                <a class="event-link subscribe" data-toggle="tooltip" data-placement="right" title="Зголоситись">
                                                    <i class="fas fa-pen-alt"></i>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="events-pen">
                                                <a class="event-link subscribe" data-toggle="tooltip" data-placement="right" title="Зголоситись">
                                                    <i class="fas fa-pen-alt"></i>
                                                </a>
                                            </div>
                                        }

                                        @if (_event.IsUserApprovedParticipant)
                                        {
                                            <div class="events-part  mt-2 event-fix-width">
                                                <h5><strong>Учасник</strong></h5>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="events-part  mt-2 event-fix-width event-invisible">
                                                <h5><strong>Учасник</strong></h5>
                                            </div>
                                        }
                                        @if (_event.IsUserUndeterminedParticipant)
                                        {
                                            <div class="events-participants">
                                                <a class="participant-status" href="#" data-toggle="tooltip" data-placement="right" title="Ваша кандидатура розглядається">
                                                    <i class="fas fa-user-clock"></i>
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="events-participants event-invisible">
                                                <a class="participant-status" href="#" data-toggle="tooltip" data-placement="right" title="Ваша кандидатура розглядається">
                                                    <i class="fas fa-user-clock"></i>
                                                </a>
                                            </div>
                                        }
                                        @if (_event.IsUserRejectedParticipant)
                                        {
                                            <div class="events-participants-ban">
                                                <a class="event-remove" href="#" data-toggle="tooltip" data-placement="right" title="Вашу заявку на участь у даній події відхилено">
                                                    <i class="fas fa-user-slash"></i>
                                                </a>
                                            </div>
                                        }
                                        <div class="event-invisible events-unsubscribe ">
                                            <a class="event-remove unsubscribe" data-toggle="tooltip" data-placement="right" title="Зняти участь">
                                                <i class="fas fa-user-minus"></i>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="events-content">
                        <h1 class="event-logo"><i class="far fa-handshake"></i></h1>
                        <h6>
                            <a asp-controller="Action" asp-action="EventInfo" asp-route-ID=@_event.EventId class="title-link event-link-mytext">
                                @_event.EventName
                            </a>
                        </h6>
                    </div>
                    <div class="card-footer ">
                        <div class="row justify-content-between">
                            <div>
                                @if (_event.IsUserEventAdmin)
                                {
                                    <a asp-controller="EventUser" asp-action="EventEdit" asp-route-eventId="@_event.EventId" class="event-link" data-toggle="tooltip" data-placement="bottom" title="Редагувати">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                                else
                                {

                                    <a class="event-link event-invisible" data-toggle="tooltip" data-placement="bottom" title="Редагувати">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                }
                            </div>
                            <div>
                                @if (_event.IsEventFinished)
                                {
                                    <a class="event-link" data-toggle="tooltip" data-placement="bottom" title="Завершений(-на)">
                                        <i class="fas fa-flag"></i>
                                    </a>
                                }
                                @if (_event.IsEventNotApproved)
                                {
                                    <a class="event-link pr-1" data-toggle="tooltip" data-placement="bottom" title="Не затверджені">
                                        <i class="fas fa-tools"></i>
                                    </a>
                                }
                                @if (_event.IsEventApproved)
                                {
                                    <a class="event-link pr-1" data-toggle="tooltip" data-placement="bottom" title="Затверджені">
                                        <i class="fas fa-bullhorn"></i>
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

