
@model IEnumerable<EventCategoryViewModel>
   
        <div class=" actions-wrapper container">
            <div class="cust_bloglistintro">
                <h1 id="action-title" class="text-center-action">Акції</h1>
            </div>
            <div class="row">
                @foreach(EventCategoryViewModel evc in Model)
                {
                   <div class="col-md-4 cust_blogteaser">
                        <a><img class="rounded img-fluid" src="~/images/Events/ActionLogo.png"></a>
                       <a class="actions-link" asp-action="Events"asp-route-ID=@evc.EventCategoryId>
                           <h3>@evc.EventCategoryName</h3>
                       </a>
                   </div>
                }
            </div>
        </div>
    
